# Google OAuth Configuration
VITE_GOOGLE_CLIENT_ID=557589122244-04d416rp7g2h4mklg5024brorq45mvbb.apps.googleusercontent.com

# Supabase Configuration
VITE_SUPABASE_URL=https://lpziqqgzucpgjuwpnvnz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwemlxcWd6dWNwZ2p1d3Budm56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1ODg5MDEsImV4cCI6MjA3MjE2NDkwMX0.LI2y-Jz0t2lXV4IWrC-27XA3drmb1fIl-QTF5gNhyss

# Optional: App Environment
VITE_APP_ENV=development
